body {
    height: 100vh;
    margin: 0;
    background-image: url('tile.jpeg');
    z-index:0;
  }
  .container {
    width: 500px; 
    height: 500px; 
    background-color: #3498db; 
    margin: auto;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    z-index:2;
  }
h1{
    width:200px;
    margin:auto;
    margin-top: 10px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom:20px;
}
button{
    margin-left: 15px;
    min-width:160px;
    height:40px;
    font-size: 20px;
    margin-top: 20px;
}