*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    height: 100vh;
    margin: 0;
    background-image: url('tile.jpeg');
    z-index:0;
  }
  .container {
    width: 500px; 
    height: 500px; 
    background-color: black; 
    margin: auto;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    z-index:2;
  }
h1{
    text-align: center;
    margin:auto;
    margin-top: 10px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom:20px;
}
button{
    margin-left: 15px;
    min-width:160px;
    height:40px;
    font-size: 20px;
    margin-top: 20px;
}
.slider{
    display: flex;
    justify-content: center;
}
#myRange{
    height:25px;
    background: #d3d3d3;
    width:200px;
    margin-top: 10px;
}
#myRange:hover{
    opacity: 1;
}
.value{
    display: flex;
    justify-content: center;
    align-items:center;
}